<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gotrabahomobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoTrabahoMobile"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".FreelancerViewRatingsActivity"
            android:exported="false" />
        <activity
            android:name=".AddSubserviceActivity"
            android:exported="false" />
        <activity
            android:name=".FreelancerOTPActivity"
            android:exported="false" />
        <activity
            android:name=".OTPLogInActivity"
            android:exported="false" />
        <activity
            android:name=".FreelancerEditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".FreelancerProfileMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerProfileMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerEditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".BugReportActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmedChatActivity"
            android:exported="false" />
        <activity
            android:name=".FreelancerNewServiceJobVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".FreelancerAddNewServiceActivity"
            android:exported="false" />
        <activity
            android:name=".FreelancerEditServiceActivity"
            android:exported="false" />
        <activity
            android:name=".FreelancerServicesListActivity"
            android:exported="false" />
        <activity
            android:name=".FreelancerProfilePageActivity"
            android:exported="false" />
        <activity
            android:name=".BookingDetailsActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ReportProblemActivity"
            android:exported="false" />
        <activity
            android:name=".RewardsActivity"
            android:exported="false" />
        <activity
            android:name=".FreelancerMainActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".CustomerMainActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".CustomerEditProfileActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".CustomerProfilePageActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivityNegotiation"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ApplicationConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".FreelancerDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".FreelancerListMapViewActivity"
            android:exported="false" /> <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".FreelancerJobVerificationActivity"
            android:exported="false">

            <!--
                 <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;
             </intent-filter>
            -->
        </activity>
        <activity
            android:name=".FreelancerIdentityVerificationActivity"
            android:exported="false">

            <!--
                 <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->

        </activity>
        <activity
            android:name=".FreelancerRegisterDetailsActivity"
            android:exported="false">

            <!--
                 <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>
        <activity
            android:name=".CustomerRegisterDetailsActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Notification.MessageService"
            android:exported="false"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECIEVE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="Notification" />
    </application>

</manifest>